html{
    -webkit-tap-highlight-color: transparent;
}
html, body {
    margin: 0;
}
h1 img {
    max-width: 325px;
    display: -webkit-flex;
    -webkit-justify-content: center; 
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
}
#menu {
    width: 300px;
    height: 25px;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    margin: 0 auto;
}

#menu > div {
    width: 45px;
}

#menu img {
    max-width: 100%;
}
.gif-Man, .text-Box {
    width: 100%;
    max-height: 889px;
    display: block;
    /* margin: auto;
    max-height: 80vh;
    position: absolute;
    left:0;
    right:0; */
}

.text-Box {
    position: absolute;
    top: 0;
    left: 0;
}
.gif-Man img, .text-Box img {
    /* display: block;
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    visibility: visible; */
    width: 100%;
}

.load-GIF {
    height: 150px;
    width: 150px;
    margin: auto;
    z-index: 3;
    left: 0;
    right: 0;
    position: absolute;
    top: 35%;
    background: url(loader.png);
    -webkit-animation: animate .75s steps(14) infinite;
            animation: animate .75s steps(14) infinite;
}
.overlay {
    width: calc(.675 * 80vh);
    height: 889px;
    display: block;
    margin: auto;
    max-height: 80vh;
    position: absolute;
    left:0;
    right:0;
    background-color: rgba(255,255,255,1);
    z-index: 2;
}
.fadeOut {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s .15s, opacity .15s ease-out;
    -o-transition: visibility 0s .15s, opacity .15s ease-out;
    transition: visibility 0s .15s, opacity .15s ease-out;
  }
@-webkit-keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 2100px;
    }

}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 2100px;
    }

}
.gif-Man img {
    cursor: pointer;
}


@media screen and (max-width: 499px) {
    #thumbnail-slider {
        display: block;
        position: relative;
        left: 0;
        width: 100vw;
        max-width: 1300px;
        overflow: auto;
    }
    .caption-container {
        display: block;
        color: white;
        text-align: center;
        font-family: monospace;
        font-size: .8em;
        margin: 10px;
        width: 100%;
    }
    .is-Transformed { 
        width: 200px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -100px;
        text-align: center;
        font-family: monospace;
        font-size: .8em;
    }
}
@media screen and (min-width: 500px) {
    #thumbnail-slider {
        display: block;
        left: 0;
        width: 100vw;
        overflow: auto;
    }
    /*caption text*/
    .caption-container {
        display: block;
        color: white;
        text-align: center;
        font-family: monospace;
        width: 100%;
    }
    .is-Transformed { 
        width: 200px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -100px;
        text-align: center;
        font-family: monospace;
        font-size: 1em;
    }
}

.is-Transformed a { 
    text-decoration: none;
    color: #888888;
}
.work-Thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}
.work-Thumbs img {
    max-width: 100%;  
}
@media screen and (max-width: 499px) {
    .collapsible {
      height: 50px;
      background-color: #FFF;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      font-size: .8em;
      font-family: monospace;

    }
    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.2s ease-out;
        -o-transition: max-height 0.2s ease-out;
        transition: max-height 0.2s ease-out;
        text-align: left;
        font-family: monospace;
        font-size: .95em;
    }
}
@media screen and (min-width: 500px) {
    .collapsible {
      background-color: #FFF;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 1em;
      font-family: monospace;
        height: 50px;
    }
    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.2s ease-out;
        -o-transition: max-height 0.2s ease-out;
        transition: max-height 0.2s ease-out;
        text-align: left;
        font-family: monospace;
        font-size: 1em;
    }
}
.collapsible img {
    max-width: 100%
}
.collapsible:after, .item-title:after {
    content: '\002B';
    float: left;
    font-size: 1em;
    margin-right: 1em;
}
.active:after {
    content: "\2212";
}
.active-border {
    border-bottom: 1px solid;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
#myModal{
    display:none;
    flex-direction: column;
    justify-content: space-between;
}
/*The modal bg*/
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
}
/*close button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
#currentSlide {
    --n: 25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    width: calc(var(--n)*100%);
    height: 60vh;
    max-height: 100vh;
    -webkit-transform: translate(calc(var(--i, 0)/var(--n)*-100%));
    -ms-transform: translate(calc(var(--i, 0)/var(--n)*-100%));
    transform: translate(calc(var(--i, 0)/var(--n)*-100%));
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;

}
#currentSlide img {
    width: 100%;
    width: calc(100%/var(--n));
    pointer-events: none;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.thumbnail-grid {
    position:relative;
    white-space: nowrap;
}
.thumbnail-container {
    display:inline-block;
    margin: 1px;
    vertical-align: top;
    width:155px;
    cursor: pointer;
}
/*Create four equal columns flatoing next to each other*/
.thumbnails {
    float: left;
    /* width: 117px; */
}
/*next/prev buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -75px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0,0,0,0.25);
}
/*next button float right*/
.next {
    right: 15%;
    border-radius: 3px 0 0 3px;
}
.prev {
    left:15%;
}
/*drop shadow on hover*/
.prev:hover,
.next:hover {
    color:white;
    background-color: rgba(0,0,0,0.8);
}
.caption-container p {
    cursor: pointer;
    margin: 0;
}
img.thumb-status {
    opacity: 0.6;
}
.active,
.thumb-status:hover {
    opacity: 1;
}
img.hover-shadow {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.hover-shadow:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background:rgba(170, 170, 170, 0.5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:rgba(170, 170, 170, 0.75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:rgb(170, 170, 170)
}
.post {
    border: 1px outset;
    margin: 20px 0px 20px 0px;
 }
@media screen and (max-width: 499px) {
    #content {
        width: 100%;
        margin: auto;
    }
     .post img {
        float: left;
        /*margin: auto;*/
        max-width: 100%;
        height: auto;
        padding: 5px 0px 5px 0px;
     }
     .clearfix {
        font-family: monospace;
        font-size: .8em;
        clear: left;
        padding: 10px;
     }
}
@media screen and (min-width: 500px) {
    #content {
        width: 50%;
        margin: auto;
    }
     .post img {
        float: left;
        /*margin: auto;*/
        max-width: 50%;
        height: auto;
        padding: 5px;
     }
     .clearfix {
        font-family: monospace;
        font-size: 1em;
        clear: left;
        padding: 10px;
     }
}

.work-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
}

@media only screen and (max-width: 600px) {
    .work-links {
        grid-template-columns: 75vw;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.work { 
    margin-top: 2.5em;
}

.work-links > div {
    display: grid;
}

.work-link {
    justify-self: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-link > :first-child {
    max-width: 50%;
}

.work-link > :last-child {
    max-width: 100%;
}

.l-portfolio-item {
    max-width: 800px;
}

@media only screen and (max-width: 600px) {
    .l-portfolio-item {
        width: 90%;
    }
}

.portfolio-img {
    display: flex;
    cursor: pointer;
}

.portfolio-img img {
    max-width: 100%;
    height: 100%;
} 

.desktop-only {
    /* width: 800px;
    height: 450px; */
    aspect-ratio: 16 / 9;
}

.desktop-mobile {
    /* width: 800px;
    height: 336px; */
    aspect-ratio: 50 / 21;
    display: grid;
    grid-template-columns: 75.45% 23.93%;
    gap: 1.62%;
}

main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5em; */
}

.item-collapse {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .item-collapse {
        height: 65px;
    }
}
 
.item-github {
    height: 25px;
    width: 25px;
}

.item-github img {
    max-width: 100%;
    height: 100%;
}

.illo-grid {
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(8,300px);
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .illo-grid {
        grid-template-columns: 300px;
        grid-template-rows: repeat(27,300px);
    }
}

.illo-grid img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 100%;
    cursor: pointer;
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-mascot {
    aspect-ratio: 600 / 889;
    width: 550px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .l-mascot {
        width: 95%;
    }
}

* {-webkit-box-sizing: border-box;box-sizing: border-box;}