html{
    -webkit-tap-highlight-color: transparent;

}
body {
    min-height: calc(100vh - 8px);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
h1 img {
    max-width: 75%;
    max-height: 100%;
    display: -webkit-flex;
    -webkit-justify-content: center; 
    display: block;
    justify-content: center;
    margin: auto;
}
#menu {
    width: 300px;
    height: 25px;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between; 
    margin: 0 auto;
}
#menu img {
    max-width: 100%;
}
.gif-Man, .text-Box {
    width: calc(.675 * 80vh);
    height: 889px;
    display: block;
    margin: auto;
    max-height: 80vh;
    position: absolute;
    left:0;
    right:0;
}
.gif-Man img, .text-Box img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.gif-Man img {
    cursor: pointer;
}


@media screen and (max-width: 499px) {
    #thumbnail-slider {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        max-width: 1300px;
        overflow: auto;
    }
}
@media screen and (min-width: 500px) {
    #thumbnail-slider {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -350px;
        width: 100vw;
        max-width: 700px;
        overflow: auto;
    }
}
.is-Transformed { 
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: calc(50% + 40px);
    margin-left: -150px;
    margin-top: -150px;
}
.is-Transformed p {
    text-align: center;
    font-family: monospace;
    font-size: 1em;
}
.work-Thumbs {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
.work-Thumbs img {
    max-width: 100%;
}
.collapsible {
  background-color: #FFF;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1em;
  font-family: monospace;
  border-bottom: 1px solid;
}
.collapsible img {
    max-width: 100%
}
.collapsible:after {
    content: '\002B';
    float: right;
    font-size: 1em;
}
.active:after {
    content: "\2212";
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    font-family: monospace;
    font-size: 1em;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
/*The modal bg*/
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
}
/*close button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
/*hide slides by default*/
/*#currentSlide img {
    cursor: pointer;
    display: block;
    width: 90vw;
    height: 62vh;
    margin: auto;
    object-fit: scale-down;
}*/
#currentSlide {
    --n: 1;
    display:flex;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    width: calc(var(--n)*100%);
    height: 60vh;
    max-height: 100vh;
    transform: translate(calc(var(--i, 0)/var(--n)*-100%));
    transition: transform .5s ease-out;

}
#currentSlide img {
    width: 100%;
    width: calc(100%/var(--n));
    pointer-events: none;
    max-height: 100%;
    object-fit: contain;
}
.thumbnail-grid {
    position:relative;
    white-space: nowrap;
}
.thumbnail-container {
    display:inline-block;
    margin: 1px;
    vertical-align: top;
    width:117px;
    cursor: pointer;
}
/*Create four equal columns flatoing next to each other*/
.thumbnails {
    float: left;
    width: 117px;
}
/*next/prev buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -75px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0,0,0,0.25);
}
/*next button float right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/*drop shadow on hover*/
.prev:hover,
.next:hover {
    color:white;
    background-color: rgba(0,0,0,0.8);
}
/*caption text*/
.caption-container {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: monospace;
    width:100%;
}
img.thumb-status {
    opacity: 0.6;
}
.active,
.thumb-status:hover {
    opacity: 1;
}
img.hover-shadow {
    transition: 0.3s;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background:rgba(170, 170, 170, 0.5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:rgba(170, 170, 170, 0.75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:rgb(170, 170, 170)
}

* {box-sizing: border-box;}
